@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Prata&display=swap');

body {
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),url("https://images.unsplash.com/photo-1518531933037-91b2f5f229cc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGVhdmVzJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80N");
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}


article {
  margin-top: 30px;
  min-width: 300px;
  max-width: 800px;
}

h1 {
  font-family: 'Prata', serif;
  font-size: 25px;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  margin: 0px;
  border: 0px;
  background-color: #334443;
  color: #66DE93;
}

h2 {
  box-shadow: 0px 0px 20px #515E63;
  font-size: 22px;
  padding: 20px;
  margin: 0px;
  border: 0px;
  background-color: #313F3F;
  color: #9FE6A0;
}

p {
  font-family: 'DM Mono', monospace;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  margin: 0px;
  border: 0px;
  background-color: #283434;
  color: #5E8B7E;
  font-size: 18px;
}

a, key {
  font-family: 'DM Mono', monospace;
  color: #C9D8B6;
  text-decoration: none;
}


video, img {
  display: block;
  margin: auto;
  border-radius: 10px;
  width: 100%;
}

video::-webkit-media-controls-panel {
  background-image: linear-gradient(transparent, transparent) !important;
}


@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px #ACFFAD, inset 0 0 8px #ACFFAD; }
  50% { box-shadow:0 0 32px #50CB93, inset 0 0 16px #50CB93; }
  100% { box-shadow:0 0 8px #ACFFAD, inset 0 0 8px #ACFFAD; }
}

.glowCircle {
  background-color:transparent;
  width: 300px;
  border-radius:200px;
  box-shadow: 0 0 8px #71EFA3, inset 0 0 8px #71EFA3;
  -webkit-animation: pulse 2s linear 1s infinite;
}

#more {display: none;}

button {
  font-size: 20px;
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: 'DM Mono', monospace;
  color: #71EFA3;
  text-decoration: underline;
  cursor: pointer;
}

::-moz-selection { /* Code for Firefox */
  color: #A7C4BC;
  background: #57837B;
}

::selection {
  color: #A7C4BC;
  background: #57837B;
}